@import "@fontsource/poppins/100.css";
@import "@fontsource/poppins/200.css";
@import "@fontsource/poppins/300.css";
@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/500.css";
@import "@fontsource/poppins/600.css";
@import "@fontsource/poppins/700.css";
@import "@fontsource/poppins/800.css";
@import "@fontsource/poppins/900.css";
@import 'primeflex/src/_variables';
@import 'primeflex/src/_grid';
@import 'primeflex/src/_formlayout';
@import 'primeflex/src/_display';
@import 'primeflex/src/_text';
@import 'primeflex/src/flexbox/_flexbox';
@import 'primeflex/src/_spacing';
@import 'primeflex/src/_elevation';

@import "./mixins/keyframe";

@import "./utility/table";
@import "./utility/size";
@import "./utility/primevue";
@import "./utility/font";

@import "./page/server_setting";
@import "./page/listening_sql_query";

html {
  font-size: 14px;
}

body {
  background: #2a323d !important;
  color: #E2E3E4 !important;
  font-family: "Poppins", Helvetica Neue Light, sans-serif !important;
  font-size: 1rem;
  height: calc(100vh - 0.8rem);
  position: relative;

  #app {
    height: 100%;
  }

  .logo-text {
    width: 25vw;
  }

  .dialog-overlay {
    display: block !important;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    opacity: 0.9;
    background: #3b434e;
    z-index: 1000;
    width: 100%;
    height: 100%;
  }
}
